doctype html
html
    head
        title= title
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0")
        link(rel="stylesheet", href="/v1/css/bootstrap.min.css", crossorigin="anonymous")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css", crossorigin="anonymous")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap" crossorigin="anonymous")
        link(rel="stylesheet", href="/v1/css/icon.css", crossorigin="anonymous")
        link(rel="stylesheet", href="/v1/css/styles.css", crossorigin="anonymous")
        script(src="/v1/js/jquery.min.js")
        script(src="/v1/js/bootstrap.min.js")
    body
        block content

        block scripts

